@page
@model NetCoreJWTAuth.App.Pages.DefaultModel
@{
    ViewData["Title"] = "Default";
}

<div style="font-family: sans-serif; font-size: 1em;">

    <h2>Simple JWT auth example</h2>

    <h3>Hello :-)</h3>

    <p>This project consists of a tiny API which is protected and requires JWT tokens before you can access it.</p>

    <p>Check out <strong>startup.cs</strong> to see the JWT configuration.</p>

    <p>Take a look at <strong>Controllers\ApiController.cs</strong> to see how the JWT auth mechanism is then used to issue (and check for) tokens.</p>

</div>